.catalog-list {
  height: 99%;
  width: auto;
  border: 1px solid #d3d3d3;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  
.empty-list {
  padding: 70px 0;
  text-align: center;
}

.fab {
  position: absolute;
  right: 35px;
  bottom: 35px;
  font-size: 25px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #3B90FA; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6daeff; 
}