<cdk-virtual-scroll-viewport class="catalog-list" itemSize="60">
  <dl class="example-dl">
    <div *ngIf="products.length > 0">
      <ng-container *cdkVirtualFor="let product of products">
        <dt>
          <app-product name="{{product.name}}"
                      quantity="{{product.quantity}}"
                      description="{{product.description}}"></app-product>
        </dt>
      </ng-container>
    </div>
    <div class="mat-body empty-list" *ngIf="products.length == 0">
      Sorry, there are no products.
    </div>
  </dl>
</cdk-virtual-scroll-viewport>
<button mat-fab class="fab" (click)="openDialog()">+</button>