<h1 mat-dialog-title>Add new product to catalog</h1>

<div mat-dialog-content>
  <mat-form-field class="left-input">
    <input matInput placeholder="Name" [formControl]="nameController" [(ngModel)]="data.name"/>
    <mat-error *ngIf="nameController.hasError('required')">Name is required</mat-error>
    <mat-error *ngIf="nameController.hasError('nameAlreadyExists')">Name must be unique</mat-error>
  </mat-form-field>
  <mat-form-field class="right-input">
    <input matInput type="number" placeholder="Quantity" [formControl]="quantityController" [(ngModel)]="data.quantity" />
    <mat-error *ngIf="quantityController.hasError('required')">Quantity is required</mat-error>
    <mat-error *ngIf="quantityController.hasError('min')">Quantity must be greater than 0</mat-error>
  </mat-form-field>
</div>

<div mat-dialog-content>
  <mat-form-field class="input-field">
    <textarea matInput [(ngModel)]="data.description" placeholder="Description (optional)"> </textarea>
  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="onYesClick()">Add</button>
</div>
